<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
	<meta charset="UTF-8">
	<title>ApexLegends@N高</title>
</head>
<body>
 <nav>
  <div>
	 <div>
	  <a href="/">ApexLegends</a>
	 </div>
	 <ul>
	  <% if !current_user.nil? %>
		  <div class = "center">
		  <li>こんにちは、<%= current_user.name %>さん</li>
			<li><a href="/signout">ログアウト</a></li>
			<form action = "/toukou" method = "post">
      <input type = "hidden" name = "user_id" value = "<%= session[:user] %>">
      <div class = "namae">
      </div>
      </form>
			<div>
			<% @toukous.each do |toukou| %>
				<%= toukou.name %><br>
				<%= toukou.body %><br><hr>
			<% end %>
			</div>
			<input type = "text" name = "body">
      <input id = "submit_bottun" input type = "submit" name = "submit" value = "投稿">
			</div>
		<% else %>
	    <li>新規ユーザーですか？</li>
		  <li><a href="/signin">ログイン</a></li>
		  <li><a href="/signup">新規登録</a></li>
		<% end %>
	 </ul>
 </nav>
 <%= yield %>
</body>
</html>